header {
    background-color: black;
    color: aqua;
    text-align: center;
    font-size: 150%;
}

.user {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.user p{
    font-size: 150%;
}

#cityName {
    margin-bottom: 10%;
    padding: 12px 20px;
    box-sizing: border-box;
}

#btn {
    height: 10%;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
}

.info {
    width: 70%;
}