header {
    background-color: black;
    color: aqua;
    text-align: center;
    font-size: 150%;
}

.user {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.user p{
    font-size: 150%;
}

.user form {
    margin-bottom: 10%;
}

.info {
    width: 70%;
}