header {
    background-color: black;
    color: aqua;
    text-align: center;
    font-size: 150%;
}

.user {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.info {
    width: 70%;
}